.bibliotekar-meni {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 9999; 
  min-width: 200px;
  padding: 8px 0;
  overflow: visible;
}


.bibliotekar-meni button {
  display: flex;
  align-items: center;
  color: black;
  gap: 8px;
  width: 100%;
  padding: 10px 16px;
  background: none;
  border: none;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
}

.bibliotekar-meni button:hover {
  background-color: #f0f0f0;
}
