.container {
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.container-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.img {
    width: 200px;
    height: 160px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.margin {
    margin: auto;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-150{
    margin-top: 150px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-25 {
    width: 25%;
}

.input-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.input-wrapper label {
  position: absolute;
  top: -8px;
  left: 10px;
  background-color: white;
  padding: 0 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(51, 146, 234, 1);
  pointer-events: none;
  user-select: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.input-wrapper.floating-label-visible label {
  opacity: 1;
}

.input-wrapper input,
.input-wrapper select {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding-right: 40px;
}

.input-wrapper input:focus,
.input-wrapper select:focus {
  border: 1px solid rgba(51, 146, 234, 1);
  outline: none;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 22px;
  color: #999;
  z-index: 2;
}

.img-preview {
  max-width: 100px;
  max-height: 100px;
  margin-top: 10px;
  border-radius: 5px;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; 
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 22px;
  color: #999;
  z-index: 2;
}

.button-add {
    background-color: rgba(51, 146, 234, 1);
    color: white;
    border: 1px solid rgba(51, 146, 234, 1);
    border-radius: 4px;
    padding: 8px 10px 8px 8px;
    margin-right: 4px;
}

.cancel-btn {
    background-color: white;
    color: rgba(51, 146, 234, 1);
    border: 1px solid rgba(51, 146, 234, 1);
    border-radius: 4px;
    padding: 8px 10px 8px 8px;
}

