.no-scroll-container {
  min-height: 100vh;
  background-color: #f9f9f9;
  padding: 2rem;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  max-width: 100%;
  margin: 1rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  width: 480px; /* fiksna širina da nije preširoko */
  box-sizing: border-box;
}

button {
  background-color: rgba(51, 146, 234, 1);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.6rem 1.2rem;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 0 2rem 0;
  color: #333;
  text-align: center;
}

img {
  width: 180px;
  height: 150px;
  border: 2px solid #918e8e;
  border-radius: 3px;
  display: block;
  margin: 0 auto 20px auto;
  object-fit: cover;
  background-color: #ffffff;
}

.detail-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}

.detail-row strong {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(51, 146, 234, 1);
  margin-bottom: 5px;
  user-select: none;
}

.detail-value {
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #fff;
  color: #444;
  min-height: 38px;
  box-sizing: border-box;
  pointer-events: none; 
}

